html {
   color: #000;
}

.mcontainer {
   width: 100%;
   max-width: 1280px;
   margin-left: auto;
   margin-right: auto;

   padding-right: 20px;
   padding-left: 20px;
}

@media screen and (min-width: 767px) {
   .mcontainer {
      padding-right: 40px;
      padding-left: 40px;
   }
}

.ahover {
   color: rgb(59 130 246);
}

.ahover:hover {
   text-decoration: underline;
}