html {
   color: #000;
}

.mcontainer {
   width: 100%;
   max-width: 1280px;
   margin-left: auto;
   margin-right: auto;

   padding-right: 20px;
   padding-left: 20px;
}

@media screen and (min-width: 767px) {
   .mcontainer {
      padding-right: 40px;
      padding-left: 40px;
   }
}


.ahover {
   color: rgb(59 130 246);
}

.ahover:hover {
   text-decoration: underline;
}



/* start custom tooltip */
.ctt {
   position: relative;
}

.cttt {
   visibility: hidden;
   position: absolute;
   background-color: #333;
   color: white;
   padding: 5px;
   border-radius: 5px;
   bottom: 120%;
   font-size: 13px;
   padding-left: 15px;
   padding-right: 15px;
   left: 50%;
   transform: translateX(-50%);
   white-space: nowrap;
   text-transform: initial;
   z-index: 2;
}

.cttt::after {
   content: "";
   position: absolute;
   width: 30px;
   height: 30px;
   background: linear-gradient(-45deg, #333 30%, transparent 1%);
   left: 50%;
   transform: translateX(-50%) rotate(45deg);
   bottom: -0%;
   z-index: 1;
}

.ctt:hover .cttt {
   visibility: visible;
}

/* end custom tooltip */





.shimmer {
   background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
   background-size: 200% 100%;
   animation: shimmerAnimation 1s infinite;
   border-radius: 5px;
   /* You can adjust this as needed */
}

@keyframes shimmerAnimation {
   0% {
      background-position: 200% 0;
   }

   100% {
      background-position: -200% 0;
   }
}






















.shimmer-card-container {
   width: 300px;
}

.shimmer-card {
   background-color: #f0f0f0;
   border-radius: 10px;
   overflow: hidden;
   padding: 16px;
}

.shimmer-lines {
   display: flex;
   flex-direction: column;
   margin-bottom: 16px;
}

.shimmer-line {
   height: 16px;
   background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
   background-size: 200% 100%;
   border-radius: 5px;
   margin-bottom: 8px;
   animation: shimmerAnimation 1s infinite;
}

.shimmer-line-long {
   width: 80%;
}

.shimmer-line-medium {
   width: 60%;
}

.shimmer-line-short {
   width: 40%;
}

.shimmer-title {
   height: 20px;
   background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
   background-size: 200% 100%;
   border-radius: 5px;
   margin-bottom: 8px;
   width: 60%;
   animation: shimmerAnimation 1s infinite;
}

.shimmer-description {
   height: 16px;
   background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
   background-size: 200% 100%;
   border-radius: 5px;
   width: 80%;
   animation: shimmerAnimation 1s infinite;
}

@keyframes shimmerAnimation {
   0% {
      background-position: 200% 0;
   }

   100% {
      background-position: -200% 0;
   }
}



/* start left bar for mobile */
@media screen and (max-width: 767px) {
   .dashboard .dash_links {
      width: 100%;
      height: 100vh;
      top: 0;
      z-index: 5;
      background: #fff;
      padding-top: 20px;
      position: absolute;
      left: -100vw;
   }

   .dashboard .dash_links.active {
      left: 0;
   }
}

/* end left bar for mobile */